<h3>CryptoCurrency Look Up</h3>
<br>

<%= form_tag home_lookup_path, method: :post, class: "navbar-form navbar-left form-group" do %>
  <%= text_field_tag(
      :sym,
      params[:sym],
      placeholder: "Enter Crypto Symbol",
      class: "form-control"
  ) %>
  <%= submit_tag'Lookup Stock Quote', class: "btn btn-primary form-group" %>

  <br><br>

  <% if @symbol %>
    <% for x in @coins %>
        <% if @symbol == x["symbol"]%>
          <%= x["name"] %>: $<%=x["price_usd"] %> <br> Rank: <%=x["rank"]%>
          <br><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
